@import '_color_swatch.scss';

$background_color: $color_white;
$font_color: $color-ink;
$font_family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font_size: 0.9em;
$font_disabled_color: $color-ink-light;

$button_background_color: $color-sky-light;
$button_font_color: $color-ink;
$button_border_color: $color-ink-lightest;
$button_shadow_color: $color-sky-dark;

$input_background_color: $color-white;
