<button class="big-button" id="" title="Consultar elementos">
  <span class="fa-stack fa-lg"><i class="fa fa-search fa-2x"></i></span
  ><br /><span>Consultar</span>
</button>

<button class="big-button" id="" title="Limpiar campos">
  <span class="fa-stack fa-lg"><i class="fa fa-file-o fa-2x"></i></span
  ><br /><span>Limpiar</span>
</button>

<button class="big-button" id="" title="Generar PDF">
  <span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-2x"></i></span
  ><br /><span>PDF</span>
</button>

<button class="big-button" id="" title="Generar Excel">
  <span class="fa-stack fa-lg"><i class="fa fa-file-excel-o fa-2x"></i></span
  ><br /><span>XLS</span>
</button>

<br />
<br />

<button id="" title="Consultar elementos">
  <span class="fa-stack"><i class="fa fa-search fa-lg"></i>
</button>

<button id="" title="Limpiar campos">
  <span class="fa-stack"><i class="fa fa-file-o fa-lg"></i>
</button>

<button id="" title="Generar PDF">
  <span class="fa-stack"><i class="fa fa-file-pdf-o fa-lg"></i>
</button>

<button id="" title="Generar Excel">
  <span class="fa-stack"><i class="fa fa-file-excel-o fa-lg"></i>
</button>